.App {
    margin: 0.5rem;
    color: rgb(114, 111, 111);
    width: "100%";
    margin-top: 1rem;
    overflow-x: "auto";
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.flex-container .flex-item {
    border: 1px solid #dddddd;
    padding: 20px 50px;
    background: #fff;
}
